*html
aux_*.txt
tgw*.nc
slurm-*.out
nohup.out
_pw*
misc/
map.traj*
storm_names.*
.DS_Store
*.png
timing.txt
tempest.par.*
tempest/trajectories.txt.*
tempest/cleaned/*_final
*.csv
figs/
__pycache__
final*
netcdf
*.ipynb
